<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
	<title th:text="${loggedInUser.name} + ' | Customers'">
		Your Customers
	</title>
</head>

<body>
	<div id="content">
		<!-- SIDEBAR FOR LOGGED IN USER -->

		<aside th:if="${loggedInUser}">
			<aside th:replace="~{/user/sidebar :: sidebar}"></aside>
		</aside>

		<div class="sm:pl-64 pt-20">
			<div>
				<p class="text-5xl text-center">Customers</p>

				<!-- Customer LIST TABLE -->

				<div class="customers-container">
					<div class="p-5 relative overflow-x-auto shadow-md sm:rounded-lg">
						<div
							class="flex flex-col md:flex-row justify-between items-center mb-4">
							<form th:object="${customerSearchForm}" action=""
								th:action="@{'/user/customers/search'}">
								<div
									class="-z-50 flex items-center justify-start space-x-3 flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
									<!-- SELECT OPTION -->

									<div>
										<select th:field="*{field}" name="field"
											id="countries_disabled"
											class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
											<option selected value="name">
												Search by</option>
											<option value="name">Name
											</option>
											<option value="email">Email
											</option>
											<option value="phone">Phone
											</option>
										</select>
									</div>

									<!-- SEARCH -->

									<label for="table-search"
										class="sr-only">Search</label>
									<div class="relative">
										<div
											class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
											<svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 20 20">
												<path stroke="currentColor"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
													d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
											</svg>
										</div>
										<input th:field="*{value}" type="text"
											id="table-search-users"
											class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											placeholder="Search for users" />
									</div>

									<button type="submit"
										class="p-1.5 bg-gray-700 text-white rounded-lg dark:bg-blue-800">
										Search
									</button>
								</div>
							</form>

							<div class="">
								<button type="button" onclick="exportData()"
									class="p-1.5 bg-blue-700 text-white rounded-lg dark:bg-blue-600 font-bold">
									Export to XLSX
								</button>
							</div>
						</div>

						<div th:replace="~{message :: messageBox}"></div>

						<!-- CustomerS TABLE -->

						<table id="customer-table" th:if="${pageCustomer.totalElements>0}"
							class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
							<thead
								class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
								<tr>
									<th scope="col" class="px-6 py-3">Name</th>
									<th scope="col" class="px-6 py-3">Phone</th>
									<th scope="col" class="px-6 py-3">Pincode</th>
									<th scope="col" class="px-6 py-3">Product(s)
									</th>
									<th scope="col" class="px-6 py-3">Quantity</th>
									<th scope="col" class="px-6 py-3">Amount</th>
									<th scope="col" class="px-6 py-3">Courier
										Partner</th>
									<th scope="col" class="px-6 py-3">Tracking ID
									</th>
									<th scope="col" class="px-6 py-3">Delivery Mode
									</th>
									<th scope="col" class="px-6 py-3">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:object="${c}"
									th:each="c : ${pageCustomer.getContent()}"
									class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
									<th scope="row"
										class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
										<img class="w-10 h-10 rounded-full"
											onerror="this.src='/images/user.png'"
											th:src="@{*{picture}}" />
										<div class="ps-3">
											<button
												th:onclick="loadCustomerData([[${c.id}]])">
												<div class="text-base font-semibold"
													th:text="*{name}">
												</div>
											</button>

											<div class="font-normal text-gray-500"
												th:text="*{email}">
											</div>
										</div>
									</th>
									<td class="px-6 py-4">
										<i
											class="fa-solid fa-phone h-5 w-5"></i>
										<span th:text="*{phoneNumber}"></span>
									</td>

									<td class="px-6 py-4">
										<span th:text="*{pincode}"></span>
									</td>

									<td class="px-6 py-4">
										<span th:text="*{productDetails}"></span>
									</td>

									<td class="px-6 py-4">
										<span th:text="*{quantity}"></span>
									</td>

									<td class="px-6 py-4">
										<span th:text="*{amount}"></span>
									</td>
									<td class="px-6 py-4">
										<span th:text="*{courierCompany}"></span>
									</td>
									<td class="px-6 py-4">
										<span th:text="*{trackingId}"></span>
									</td>
									<td class="px-6 py-4">
										<span th:text="*{deliveryMode}"></span>
									</td>

									<td class="px-6 py-4">
										<div class="">
											<!-- <a th:href="@{'/user/Customers/delete/'+*{id}}">

                                                <i class="fa-solid fa-trash h-6 w-8"></i>
                                            </a> -->

											<button th:onclick="deleteCustomer([[${c.id}]])"
												href="">
												<i
													class="fa-solid fa-trash h-6 w-8"></i>
											</button>

											<a
												th:href="@{'/user/customers/view/'+*{id}}">
												<i
													class="fa-solid fa-user-pen h-6 w-8"></i>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<!-- PAGINATION -->

						<div th:if="${pageCustomer.totalElements>0}"
							class="pagination-container p-5 text-center">
							<nav aria-label="Page navigation example">
								<ul class="inline-flex -space-x-px text-base h-10">
									<li th:unless="${pageCustomer.first}">
										<a th:href="@{'/user/customers?size=' + ${pageSize} + '&page=' +${pageCustomer.number-1}}"
											href="#"
											class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
									</li>
									<li th:each="index : ${#numbers.sequence(0, pageCustomer.totalPages - 1)}"
                    >
                      <a
                        th:href="@{'/user/customers?size='+${pageSize}+'&page=' + ${index}}"
                        href="#"
                        data-th-classappend="${index==pageCustomer.number?'bg-blue-700 dark:bg-gray-900':'bg-white dark:bg-gray-500'}"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                      >
                        <span th:text="${index + 1}"></span>
                      </a>
                    </li>

                    <li th:unless="${pageCustomer.last}">
                      <a
                        th:href="@{'/user/customers?size=' + ${pageSize} + '&page=' +${pageCustomer.number+1}}"
                        href="#"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        >Next</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>

              <h1
                class="text-2xl text-center"
                th:if="${pageCustomer.totalElements<=0}"
              >
                Add a Customer to view
              </h1>
            </div>
          </div>
        </div>

        <div th:replace="~{user/customer-modal :: customer}"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
    <script th:src="@{'/js/customers.js'}"></script>

    <script>
      function exportData() {
        TableToExcel.convert(document.getElementById("customer-table"), {
          name: "customers.xlsx",
          sheet: {
            name: "Sheet 1",
          },
        });
      }
    </script>
  </body>
</html>