<!DOCTYPE html>
<html

 lang="en"
 class="light"
 th:fragment="parent(content, title, script)" 
 xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/images/munzlogo.svg" type="image/x-icon">

    <title data-th-replace="${title}">Base Page</title>
</head>
<body class="bg-gray-50 dark:bg-gray-900 dark:text-white">


    <!-- NAVBAR FOR LOGGED IN USER -->

    <header th:if="${loggedInUser}">

        <header th:replace="~{/user/user-navbar :: user-navbar}"></header>

    </header>


    

    <!-- NAVBAR W/OUT LOGIN -->

    <header th:unless="${loggedInUser}">
        
        <header data-th-replace="~{navbar :: navbar}">

    </header>


        

    </header>
    
    <div class="p-8">

        <section data-th-replace="${content}">


        </section>

    </div>




    
    <!-- <footer class="m-4">Footer</footer> -->




    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:src="@{/js/script.js}"></script>

    <th:block data-th-replace="${script}"></th:block>
</body>
</html>